.project {
  iframe {
    width: 100%;
    height: 500px;
  }
}

.project__thumb {
  display: flex;
  flex-flow: column-reverse;
  position: relative;
  max-height: 90vh;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.project__title {
  @extend .flash-span-03;

  color: $color-black;
  font-family: $archivo-bold;
  font-size: 4rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
}

.project__short-description {
  @extend .title-description;
  @extend .link-home;

  display: inline-block;
}

.project__short-description:before {
  @extend .width-home-hr;

  display: none;
}

.project__intro {
  max-width: 800px;
  padding: 25px 0 50px 0;
  width: 90%;
  margin: 0 auto;
  opacity: .8;
  font-size: 1.05rem;
  line-height: 1.8rem;
  font-family: $playfair;
}

.project-grid {
  margin: auto;
  max-width: 1400px;
  width: 90%;
}

.project__two {
  @extend .project-grid;

  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;

  .project__section:first-child {
    flex: 0 1 30%;
  }

  .project__section:last-child {
    flex: 0 1 60%;
  }
}

.project__author {
  max-width: 800px;
  margin: auto;
  width: 90%;

  padding: 0;
}

.project__intro:before {
  width: 400px;
  height: 1px;
  background: $color-black;
  display: block;
  margin: auto;
  margin-bottom: 75px;
  content: '';
  opacity: .4;
}

.project__author-title {
  font-size: 0.85rem;
  letter-spacing: 1px;
  padding-bottom: 1rem;
  font-family: $archivo-bold;
  text-transform: uppercase;
  opacity: .4;
}

.project__author-data {
  font-size: 1rem;
  font-family: $inter-regular;
}

.project__author-section {
  flex: 0 1 calc( 100%/3);
  padding-bottom: 1rem;
}

.project__big-title {
  font-size: 8rem;
  letter-spacing: -5px;
  padding-bottom: 1rem;
  font-family: $archivo-bold;
}

.project__big-description {
  font-size: 1.05rem;
  display: block;
  height: auto;
  margin: auto;
}

.project__jungle {
  display: block;
  margin: auto;
  max-width: 800px;
  position: relative;
}

.project__jungle-img {
  width: 50%;
  margin: auto;
  display: block;
}

.project__jungle-title {
  background: $color-white;
  color: $color-black;
  display: inline-block;
  font-size: 6rem;
  font-family: $archivo-bold;
  padding: .5rem 4rem;
  position: absolute;
  text-align: center;
  top: 80px;
  width: 100%;
} 

.project__mosaic {
  max-width: 1200px;
  margin: auto;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 5rem 0;

  img {
    display: block;
    height: auto;
  }

  img:nth-child(1) {
    flex: 0 1 50%;
    max-width: 50%
  } 

  img:nth-child(2) {
    flex: 0 1 50%;
    max-width: 50%;
  } 

  img:nth-child(3),
  img:nth-child(4),
  img:nth-child(5),
  img:nth-child(6),
  img:nth-child(7),
  img:nth-child(8) {
    flex: 0 1 calc( 100%/3 );
    max-width: calc( 100%/3 );
  } 
}

.project__mosaic--three {
  img,
  img:nth-child(1),
  img:nth-child(2),
  img:nth-child(3),
  img:nth-child(4),
  img:nth-child(5),
  img:nth-child(6) {
    flex: 0 1 calc( 100%/3 );
    max-width: calc( 100%/3 );
  }
}

.project__black-video {
  background: $color-black;
  padding: 4rem 0;
  margin: 4rem 0;

  iframe {
    max-width: 800px;
    margin: auto;
    display: block;
  }
}

.project__subtitle {
  text-align: center;
  font-size: 3rem;
  opacity: .4;
  font-family: $playfair;
  padding: 4rem 0 0 0;
  display: block;
}

.project__black-video-title {
  text-align: center;
  color: $color-white;
  font-size: 3rem;
  font-family: $playfair;
  padding: 0 0 2rem 0;

  span {
    font-size: 2rem;
    opacity: .4;
    display: block;
    padding-top: 1rem;
  }
}

@media #{$breakpoints-medium} {
  .project__intro {
    font-size: 2em;
    line-height: 2.5rem;
    text-align: center;
  }

  .project__author {
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    padding-top: 8rem;
  }
  
  .project__thumb {
    display: block;
  }

  .project__hero-content {
    position: absolute;
    bottom: 5%;
    left: 5%;
  }

  .project__title {
    width: 100%;
    margin: 0;
    padding-bottom: 2rem;
    color: $color-white;
    font-family: $archivo-bold;
    letter-spacing: -2px;
    font-size: 6rem;
  }

  .project__short-description:before {
    background: $color-white;
    content: '';
    display: inline-block;
    height: 2px;
    margin-right: 2rem;
  }

  .project__intro {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .project__author-data {
    font-size: 1.5rem;
  }
}

@media #{$breakpoints-large} {
  .project__title {
    font-size: 8rem;
  }
}