@import "../variables/breakpoints";
@import "../variables/grid";
@import "../variables/transitions";

$header-max-width: $grid;
$header-mobile-close-size: 30px;

.header {
  @extend .flash_top;

  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  left: 5%;
  position: absolute;
  right: 5%;
  top: 0;
  width: 90%;
  z-index: 50;
}

.header__section {
  flex: 0 1 calc( 100%/2 );
  padding: 1.5rem 0;
}

.header__logo-link {
  display: inline-block;
  height: 60px;
  width: 60px;
  background: transparent url('../assets/logo/ld.png') center no-repeat;
  background-size: 100%;
  text-indent: -999999px;
}

.header__nav {
  text-align: right;
}

.header__nav-link {
  color: $color-white;
  display: inline-block;
  font-family: $archivo-bold;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: .2s text-decoration;
}

.header__nav-link:hover {
  cursor: pointer;
  text-decoration: line-through;
}

.header-mobile {
  background: $color-black url('../public/about_back.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

.header-mobile__wrap {
  color: $color-white,;
  margin: auto;
  max-width: 1200px;
  padding: 5rem 0;
  width: 90%;
}

.header-mobile__close {
  background: transparent url('../assets/icons/close.svg') no-repeat center;
  background-size: 100% auto;
  display: inline-block;
  float: right;
  height: $header-mobile-close-size;
  margin: 3.85rem 8% 0 0;
  overflow: hidden;
  text-indent: -999999px;
  width: $header-mobile-close-size;
}

.header-mobile__close:hover {
  opacity: .8;
}

.header-mobile__title {
  font-family: $playfair;
  font-size: 4rem;
  text-align: center;
  padding: 4rem 0;
}

.header-mobile__title:after {
  display: block;
  content: '';
  width: 300px;
  height: 1px;
  background: white;
  margin: 4rem auto 0 auto;
}

.header-mobile__description {
  margin: auto;
  max-width: 800px;
  font-size: 1rem;
  line-height: 1.6rem;

  p {
    padding-bottom: 2rem;
  }
}

.nav-oculto {
  opacity: 0;
  transform: translateX(100vw);
  transition: .4s transform, .4s opacity;
}

.nav-oculto-active {
  opacity: 1;
  transform: translateX(0);
}


@media #{$breakpoints-medium} {
  .header__logo-link {
    height: 80px;
    width: 200px;
    background: transparent url('../assets/logo/ladieresis.png') center no-repeat;
    background-size: 100%;
  }

  .header__nav-link {
    font-size: 1.15rem;
  }  

  .header-mobile__title {
    padding: 5rem 0;
  }

  .header-mobile__description {
    column-count: 2;
    column-gap: 4rem;
  }
}
