@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.home__video {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: 3;
}

$home-logo-width: 300px;
$home-logo-height: 200px;

.home__logo {
  position: fixed;
  text-indent: 9999999px;
  overflow: hidden;
  top: calc( 50% - #{$home-logo-height}/2 );
  z-index: 5;
  width: $home-logo-width;
  height: $home-logo-height;
  left: calc( 50% - #{$home-logo-width}/ 2);;
  color: white;
  text-align: center;
  background: transparent url('../assets/logo/ladieresis.png') center no-repeat;
  background-size: 100% auto;

}

.home__video--mobile {
  display: block;
}

.home__video--desktop {
  display: none;
}

.home__email {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
  position: absolute;
  bottom: 10vh;
  z-index: 100;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

@media #{$breakpoints-medium} {
  .home__video--mobile {
    display: none;
  }
  
  .home__video--desktop {
    display: block;
  }  
}


@media #{$breakpoints-medium} {
  .home__email {
    font-size: 18px;
  }
}

