<footer class="footer">
  <div class="footer__title">
    Si quieres más información
  </div>
  <a href="mailto:info@ladieresis.net" class="footer__email">
    info@ladieresis.net
  </a>
  <div class="footer__rrss">
    <a href="https://www.youtube.com/user/LADIERESISVISUAL" class="footer__rrss-icon footer__rrss-icon-youtube">
      Youtube
    </a>
    <a href="http://instagram.com/ladieresis" class="footer__rrss-icon footer__rrss-icon-instagram">
      Instagram
    </a>
    <a href="https://www.facebook.com/ladieresis.makers" class="footer__rrss-icon footer__rrss-icon-facebook">
      Facebook
    </a>
    <a href="http://twitter.com/ladieresis" class="footer__rrss-icon footer__rrss-icon-twitter">
      Twitter
    </a>
  </div>
</footer>
