<header class="header">
  <div class="header__section">
    <a href="/" class="header__logo-link">
      LaDiëresis
    </a>
  </div>
  <div class="header__section">
    <nav class="header__nav">
      <a onclick="$('.nav-oculto').toggleClass('nav-oculto-active');$('.btn-mobile').toggleClass('btn-mobile-active');" class="header__nav-link">What the f*ck? →</a>
    </nav>
  </div>
</header>

<div class="header-mobile nav-oculto">
  <a href="#" onclick="$('.nav-oculto').toggleClass('nav-oculto-active');$('.btn-mobile').toggleClass('btn-mobile-active');" class="header-mobile__close">
    Cerrar
  </a>
  <div class="header-mobile__wrap">
    <div class="header-mobile__title">
      Creer es crear
    </div>
    <div class="header-mobile__description">
      <p>Ladiëresis no es más que una idea, no es más que un proceso dónde lo artístico se separa de lo humano y pierde toda su identidad personal. Su nombre surge de un signo no ortográfico colocado en la última letra del tag de su creador. Por instinto empezó a crear, por amor se quedó cerca de la música y, al pasar un tiempo, al descubrir que sus habilidades podían ayudarle a subsistir, se convirtió en un trabajo.</p>
      <p>
        — Sergio García Oviedo
      </p>
    </div>
  </div>
</div>