---
layout: default
---
<article class="project">

  <div class="project__thumb">
    <div class="project__hero-content">
      <h1 class="project__title">
        {{ page.title }}
      </h1>
      <p class="project__short-description">
        Nuestro trabajo con {{ page.title }}
      </p>
    </div>
    <img src="{{ page.thumb }}">
  </div>

  <div class="project__content">
    {{ content }}
  </div>

</article>

<div style="display:none;">"
  {% include components/related-posts.html %}
</div>