<section class="section section-partners">
  <h2 class="section-partners__title">
    Nuestros partners
  </h2>
  <div class="section-partners__list">
    <a href="" class="section-partners__link section-partners__link-01"></a>
    <a href="" class="section-partners__link section-partners__link-02"></a>
    <a href="" class="section-partners__link section-partners__link-03"></a>
    <a href="" class="section-partners__link section-partners__link-04"></a>
    <a href="" class="section-partners__link section-partners__link-05"></a>
    <a href="" class="section-partners__link section-partners__link-06"></a>
    <a href="" class="section-partners__link section-partners__link-07"></a>
    <a href="" class="section-partners__link section-partners__link-08"></a>
    <a href="" class="section-partners__link section-partners__link-09"></a>
    <a href="" class="section-partners__link section-partners__link-10"></a>
    <a href="" class="section-partners__link section-partners__link-11"></a>
    <a href="" class="section-partners__link section-partners__link-12"></a>
    <a href="" class="section-partners__link section-partners__link-13"></a>
    <a href="" class="section-partners__link section-partners__link-14"></a>
    <a href="" class="section-partners__link section-partners__link-15"></a>
    <a href="" class="section-partners__link section-partners__link-16"></a>
    <a href="" class="section-partners__link section-partners__link-17"></a>
    <a href="" class="section-partners__link section-partners__link-18"></a>
    <a href="" class="section-partners__link section-partners__link-19"></a>
    <a href="" class="section-partners__link section-partners__link-20"></a>
    <a href="" class="section-partners__link section-partners__link-21"></a>
    <a href="" class="section-partners__link section-partners__link-22"></a>
  </div>
</section>