<section class="section section-projects">

  <article class="section-projects__article section-projects__article--title">
    <div class="section-projects__content">
        <h2 class="section-projects__title-project">
          Nuestros proyectos
        </h2>      
        <p class="section-projects__description-project">
          Una muestra de nuestro trabajo en vídeo, sonido, diseño...
        </p>
      </div>
  </article>

  {% for post in site.categories.project %}
  <article class="section-projects__article">
    <a class="section-projects__link" href="{{ post.url | prepend: site.baseurl }}">
      <div class="section-projects__thumb">
        <img src="{{ post.thumb }}" />
      </div>
      <div class="section-projects__content">
        <h2 class="section-projects__title">
          {{ post.title }}
        </h2>      
        <p class="section-projects__description">
          {{ post.description }}
        </p>
      </div>
    </a>
  </article>
  {% endfor %}
</section>